In [17]:
#add two String 
a,b="piyush"," kumar"
print(a+b)
a="piyush kumar"
print(a[1])
print(len(a))
txt = "The best things in life are free!"
print("expensive" in txt)
print("expensive" not in txt)
a,b = "HELLO, WORLD!",'geeks for geeks'
print(a.lower())
print(b.upper())

piyush kumar
i
12
False
True
hello, world!
GEEKS FOR GEEKS

In [3]:
#Get the character at position 1
a="piyush kumar"
print(a[1])

i

In [10]:
#Loop through the letters in the word "banana":
for x in "banana":
 print(x)

b
a
n
a
n
a

In [11]:
#The len() function returns the length of a string:
a="hello world"
print(len(a))

11

In [14]:
#Check if "free" is present in the following text:
txt = "The best things in life are free!"
print("free" in txt)

True

In [23]:
#Check if "expensive" is present or not in the text:
txt = "The best things in life are free!"
print("expensive" in txt)
print("expensive" not in txt)

False
True

In [29]:
a,b = "HELLO, WORLD!",'geeks for geeks'
print(a.lower())
print(b.upper())

hello, world!
GEEKS FOR GEEKS

In [32]:
b = "HELLO, WORLD!"
print(b[7:12])

WORLD

In [36]:
sample_string = "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"

lines = sample_string.split('. ')

for line in lines:
    print(line.strip())

# Output with indentation
print("\nFormatted Output:")
for line in lines:
    print("{:>30}".format(line.strip()))

Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky
Twinkle, twinkle, little star, How I wonder what you are

Formatted Output:
Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky
Twinkle, twinkle, little star, How I wonder what you are

In [15]:
#set
thisset = {"apple", "banana", "cherry"}
print(thisset)
thisset.add("orange")
print(thisset)
#Duplicates Not Allowed
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)
print(len(thisset))
print(type(thisset))
print("banana" in thisset)

{'banana', 'cherry', 'apple'}
{'orange', 'banana', 'cherry', 'apple'}
{'banana', 'cherry', 'apple'}
3
<class 'set'>
True

In [41]:
#Duplicates Not Allowed
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [43]:
#length of a set
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [44]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [45]:
#A set can contain different data types
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'abc', 'male'}

In [46]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [47]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

In [11]:
#list
mylist = ["apple", "banana", "cherry"]
print(mylist)
#Lists allow duplicate values
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print(len(thislist))
print(thislist[1])
print(thislist[-1])#Print the last item of the list:
print(thislist[2:5])

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'cherry']
5
banana
cherry
['cherry', 'apple', 'cherry']

In [49]:
#Lists allow duplicate values
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [50]:
#number of items in the list
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [52]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [53]:
#dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [59]:
#Accessing Items type 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["model"])
x = thisdict["brand"]
print(x)
y = thisdict.get("year")
print(y)
x = thisdict.values()
print(x)

Mustang
Ford
1964
dict_values(['Ford', 'Mustang', 1964])

In [55]:
#Duplicates Not Allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [1]:
#return each item in a dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [2]:
#Add a new item
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()#change Attribute

print(x) #before the change

car["color"] = "white"

print(x) #after the change

x = car.values()#change value

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 1964, 'white'])
dict_values(['Ford', 'Mustang', 2020, 'white'])

In [3]:
#math
x = min(5, 10, 25)
y = max(5, 10, 25)
z = abs(-7.25)
a = pow(4, 3)

print(x)
print(y)
print(z)
print(a)

5
25
7.25
64

In [5]:
import math

x = math.sqrt(64)

print(x)
x = math.ceil(1.4) #math.ceil() method rounds a number upwards to its nearest integer
y = math.floor(1.4) #math.floor() method rounds a number downwards to its nearest integer

print(x) # returns 2
print(y) # returns 1
x = math.pi

print(x)

8.0
2
1
3.141592653589793

In [6]:
import math

def calculate_circle_area(radius):
    return math.pi * radius ** 2

def main():
    radius = float(input("Enter the radius of the circle: "))
    area = calculate_circle_area(radius)
    print("The area of the circle with radius", radius, "is:", area)

if __name__ == "__main__":
    main()

Enter the radius of the circle: 4
The area of the circle with radius 4.0 is: 50.26548245743669

In [7]:
# Accepting input from the user
numbers_str = input("Enter comma-separated numbers: ")
numbers_list = numbers_str.split(',')
numbers_list = [int(num) for num in numbers_list]
numbers_tuple = tuple(numbers_list)

# Displaying the list and tuple
print("List:", numbers_list)
print("Tuple:", numbers_tuple)

Enter comma-separated numbers: 7,4,8,2,9
List: [7, 4, 8, 2, 9]
Tuple: (7, 4, 8, 2, 9)

In [9]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0])
print(color_list[3])

Red
Black

In [16]:
poem= '''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are'''
print(poem);

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are

In [18]:
from datetime import datetime
def days_between_dates(date1, date2):
    date1 = datetime(*date1)
    date2 = datetime(*date2)
    # Calculate the difference between the two dates
    delta = abs(date2 - date1)
    # Return the number of days
    return delta.days
# Sample dates
date1 = (2014, 7, 2)
date2 = (2014, 7, 11)

# Calculate the number of days between the dates
num_days = days_between_dates(date1, date2)
print("Number of days between", date1, "and", date2, ":", num_days)

Number of days between (2014, 7, 2) and (2014, 7, 11) : 9

In [19]:
# Import the 'datetime' module to work with date and time
import datetime

# Get the current date and time
now = datetime.datetime.now()

# Create a datetime object representing the current date and time

# Display a message indicating what is being printed
print("Current date and time : ")

# Print the current date and time in a specific format
print(now.strftime("%Y-%m-%d %H:%M:%S"))

# Use the 'strftime' method to format the datetime object as a string with the desired format

Current date and time :
2024-03-06 23:37:29

In [22]:
# importing datetime module for now()
import datetime

# using now() to get current time
current_time = datetime.datetime.now()

# Printing value of now.
print("Current Date and Time is:", current_time)

Current Date and Time is: 2024-03-06 23:40:07.736258

In [21]:
from datetime import date

today = date.today()
print("Today's date:", today)

Today's date: 2024-03-06

In [24]:
# Import the 'calendar' module
import calendar

# Prompt the user to input the year and month
y = int(input("Input the year : "))
m = int(input("Input the month : "))

# Print the calendar for the specified year and month
print(calendar.month(y, m))

Input the year : 2024
Input the month : 3
     March 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [25]:
import numpy as np

arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.concatenate((arr1, arr2))

print(arr)

[1 2 3 4 5 6]

In [26]:
import pandas as pd

# Sample student names and roll numbers
student_data = {
    101: 'Rohit',
    102: 'jay',
    103: 'Sid',
    104: 'Rahul',
    105: 'Mahi'
}
# Create a Pandas Series from the student data
student_series = pd.Series(student_data)
# Print the series
print(student_series)

101    Rohit
102      jay
103      Sid
104    Rahul
105     Mahi
dtype: object

In [34]:
import pandas as pd

# Create data
data = {
    'Roll No': [1, 2, 3, 4],
    'Name': ['Ashish', 'Kiran', 'Rupal', 'Shital'],
    'Percentage': [80, 88, 70, 90]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display DataFrame
print(df)

   Roll No    Name  Percentage
0        1  Ashish          80
1        2   Kiran          88
2        3   Rupal          70
3        4  Shital          90

In [33]:
import pandas as pd
students = ['Ashish', 'Kiran', 'Rupal', 'Shital']
roll_numbers = [100, 101, 102, 103]
student_series = pd.Series(students, index=roll_numbers)
print("Student Series:")
print(student_series)

Student Series:
100    Ashish
101     Kiran
102     Rupal
103    Shital
dtype: object

In [36]:
import pandas as pd

# Create data
data = {
    'Roll No': [1, 2, 3, 4],
    'Name': ['Ashish', 'Kiran', 'Rupal', 'Shital'],
    'Percentage': [80, 88, 70, 90]
}

# Create DataFrame
df = pd.DataFrame(data)
# Display DataFrame without index column
print(df.to_string(index=False))

 Roll No   Name  Percentage
       1 Ashish          80
       2  Kiran          88
       3  Rupal          70
       4 Shital          90

In [ ]:
import pandas as pd
# Initialize an empty list to store sentences
sentences = []
# Prompt the user to enter sentences
print("Enter sentences (press Enter to stop):")
while True:
    sentence = input()
    if not sentence:
        break
    sentences.append(sentence)
# Create a DataFrame from the list of sentences
df = pd.DataFrame(sentences, columns=['Sentences'])
# Display the DataFrame
print("\nDataFrame:")
print(df)

Enter sentences (press Enter to stop):
hello Piyush Bhai
kya kar rahe ho
ruk bhi jao ab
Bas bhi kro abhi
stop
hello Piyush Bhai

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('Customers.csv')

# Display the DataFrame
print(df)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

xpoints = np.array([1, 2, 6, 8])
ypoints = np.array([3, 8, 1, 10])

plt.plot(xpoints, ypoints)
plt.show()